h1{
    text-align: center;
}



section{
    border:4px solid blue;
    border-radius:20px;
    box-shadow:0 0 5px 5px blue;
    height:360px;
    padding:20px;
    margin:10px;
    margin: 0 auto;
  }
  
  #plotSettings{
    width:20%;
    margin-bottom: 2%;
  }
  
 div{
   display: flex;
   justify-content: space-evenly;
 }